{% extends 'base.html' %}

{% block content %}
	<div class="text-center">
		<h3>{{ project }}</h3>
	</div>
	<br/>

    <div class="row justify-content-center">
		<div class="col-6 mb-3">
			<div class="card">
				<div class="card-header fs-6 badge bg-body-secondary text-wrap text-secondary p-3">
					<div class="row">
						<div class="text-center">
							Ügyfél adatai
						</div>
					</div>
				</div>
				<div class="card-body">
					<div class="row mb-2">
						<form method="POST">
							{% csrf_token %}
								<div class="row mb-3">
									<div class="col-6">
										Vezetéknév: {{ form.surname }}
									</div>
									<div class="col-6">
										Keresztnév: {{ form.name }}
									</div>
								</div>
								<div class="row mb-3">
									<div class="col-6">
										Email: {{ form.email }}
									</div>
									<div class="col-6">
										Telefon: {{ form.phone }}
									</div>
								</div>
								<div class="row mb-3">
									<div class="col-6">
										Cím: {{ form.address }}
									</div>
									<div class="col-6">
										Felület: {{ form.surface }}
									</div>
								</div>
							<br/>
							<button type="submit" class="btn btn-outline-info btn-sm">Rögzítés</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}