{% extends 'base.html' %}

{% block content %}
	<div class="text-center">
        <h3>{{ current_date }} - Felmérések</h3>
	</div>
	<br/>

    <div class="row">
        <div class="col-4 mb-3">
			<div class="card">
				<div class="card-header fs-6 badge bg-body-secondary text-wrap text-secondary p-3">
					<div class="row mb-1 text-start">
						<div class="col-4">
							Időpont
						</div>
						<div class="col-5">
							Felmérő
						</div>
						<div class="col-3">
							Állapot
						</div>
					</div>
					<div class="row text-start">
						<div class="col-4">
							Ügyfél
						</div>
						<div class="col-5">
							Cím
						</div>
						<div class="col-3">
							Feladat
						</div>
					</div>
				</div>
                <div class="card-body">
                    {% for specify_record in specify_records %}
                        <div class="row mb-2">
                            <div class="col-4">
                                {{ specify_record.specify_date | date:"Y.m.d H:i" }}
                            </div>
                            <div class="col-5">
                                {{ specify_record.specifyer }}
                            </div>
                            <div class="col-3">
                                {{ specify_record.get_status_display }}
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-4">
                                {{ specify_record.customer_project.customer }}
                            </div>
                            <div class="col-5">
                                {{ specify_record.customer_project.installation_address }}
                            </div>
                            <div class="col-3">
                                {{ specify_record.customer_project.target.name }}
                            </div>
                        </div>
                        <hr>
                    {% endfor %}
					{% include 'pager_bottom.html' %}
                </div>
            </div>
        </div>
		<div class="col-8 mb-3">
			<div id="map" style="height: 600px; width: 100%;">{{ map|safe }}</div>
		</div>
	</div>
    <script>
        $(document).ready(function() {
            // Az iframe magasságának beállítása
            $('#map iframe').css('height', '600px');
        });
    </script>
{% endblock %}
