{% extends 'base.html' %}

{% block content %}
	<div class="text-center">
        <h3>Keresés: {{ searched }}</h3>
	</div>
	<br/>
    <div class="row justify-content-center">
		<div class="col-10">
			<div class="card mb-3">
				<div class="card-header badge bg-body-secondary text-wrap text-secondary p-3">
					<div class="row text-start">
						<div class="col-2">
							Név
						</div>
						<div class="col-1">
							Ügyfél projekt
						</div>
						<div class="col-2">
							Email
						</div>
						<div class="col-1">
							Telefon
						</div>
						<div class="col-3">
							Cím
						</div>
						<div class="col-3">
							Telepítés címe
						</div>
					</div>
				</div>

				{% for customer_project in customers_projects %}
					<div class="card-body">
						<div class="card-text">
							<div>
								<div class="row">
									<div class="col-2">
										<a href="{% url 'customer_history' customer_project.id %}"
										   class="btn btn-outline-primary btn-sm">{{ customer_project.customer }}</a>
									</div>
									<div class="col-1">
										{{ customer_project }}
									</div>
									<div class="col-2">
										{{ customer_project.customer.email }}
									</div>
									<div class="col-1">
										{{ customer_project.customer.phone }}
									</div>
									<div class="col-3">
										{{ customer_project.customer.address }}
									</div>
									<div class="col-3">
										{{ customer_project.installation_address }}
									</div>
								</div>
							</div>
		<!--					<div class="card-footer text-body-secondary">-->
		<!--						Lábléc-->
		<!--					</div>-->
						</div>
					</div>
				{% endfor %}
				<br/>
				{% include 'pager_bottom.html' %}
			</div>
			<br/>
		</div>
	</div>
{% endblock %}
