<nav class="navbar navbar-expand-lg navbar-dark bg-dark nav-pills">
    <div class="container-fluid">
<!--    Bal szélső ikon home linkkel-->
        <a class="navbar-brand" href="{% url 'home' %}">INKA</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
<!--    Fő menü-->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}
<!--                Az alábbiak csak a bejelentkezés után jelennek meg-->
<!--                Lenyíló menü-->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Projektek
                        </a>
<!--                    Lenyíló menü tételei-->
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'deadline_tasks' %}">Határidős projektek</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'tasks' 'all' 'all' %}">Összes projekt</a></li>
                            <li><hr class="dropdown-divider"></li>
                            {% for position_project in position_projects %}
                                <li><a class="dropdown-item" href="{% url 'tasks' 'all' position_project.view_name %}">
                                    {{ position_project }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% if position == '02. Ügyfél adatainak felelőse' %}
<!--                    Lenyíló menü-->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Meglévő ügyfél új igénye
                            </a>
<!--                        Lenyíló menü tételei-->
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'p_02_2_uj_feladat' %}">
                                    Új feladat (ügyfél projekt) indítása</a></li>
                            </ul>
                        </li>
                    {% endif %}
                    {% if position == '04. Előzetes árajánlatok felelőse' or position == '06. Végleges árajánlatok felelőse' %}
<!--                    Lenyíló menü-->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Termékek karbantartása
                            </a>
<!--                        Lenyíló menü tételei-->
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'product_crud' %}">Termékek</a></li>
                                <li><a class="dropdown-item" href="{% url 'product_group_crud' %}">Termék csoportok</a></li>
                            </ul>
                        </li>
                    {% endif %}
<!--                Lenyíló menü-->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            {{ position }}: {{ user }}
                        </a>
<!--                    Lenyíló menü tételei-->
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Kijelentkezés</a></li>
                            <li><a class="dropdown-item" href="{% url 'update_password' %}">Jelszó módosítás</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Regisztráció</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Bejelentkezés</a>
                    </li>
                {% endif %}
            </ul>
<!--        Keresés-->
            <form class="d-flex" role="search" method="POST" action="{% url 'customers' %}">
                {% csrf_token %}
                <input class="form-control form-control-sm me-2" type="search"
                       placeholder="Ügyfél keresés (névben, címben, telefonszámban is)"
                       name="searched" style="width: 500px;">
                <button class="btn btn-outline-success btn-sm" type="submit">Keresés</button>
            </form>
        </div>
    </div>
</nav>
