<nav class="navbar navbar-expand-lg navbar-dark bg-dark nav-pills">
    <div class="container-fluid">
<!--    Bal szélső ikon home linkkel-->
        <a class="navbar-brand" href="{% url 'home' %}">INKA</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
<!--    Fő menü-->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}
<!--                Az alábbiak csak a bejelentkezés után jelennek meg-->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'update-password' %}">Jelszó módosítás</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Kijelentkezés ({{ position }}: {{ user }})</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Regisztráció</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Bejelentkezés</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
