{% extends 'base.html' %}

{% block content %}
    <center>
        <h1>{{ project }}</h1>
    </center>

    <br/>
    <form method="post" id="import" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <br/>
        <button type="submit" id="importButton">Feltöltés</button>
    </form>
    <br/>

    <div id="progress"></div>

    <script>
        $(document).ready(function() {
            $('#importButton').click(function(e) {
                e.preventDefault(); // Megakadályozza az űrlap normál submit eseményét

                var form_data = new FormData($('form')[0]);

                $.ajax({
                    type: 'POST',
                    url: 'http://127.0.0.1:8000/01.1.%20%C3%9Cgyf%C3%A9l%20adatok%20import%C3%A1l%C3%A1sa/', // Az aktuális oldal URL-jére mutat
                    data: form_data,
                    processData: false,
                    contentType: false,
                    success: function(response) {
                        if (response.success) {
                            if (response.progress !== undefined) {
                                $('#progress').text('Folyamatban... ' + response.progress + '%');
                            } else {
                                $('#progress').text(response.message);
                            }
                        } else {
                            $('#progress').text('Hiba történt: ' + response.message);
                        }
                    },
                    error: function() {
                        $('#progress').text('Hiba történt a kérés során.');
                    }
                });
            });
        });
    </script>
{% endblock %}