{% extends 'base.html' %}

{% block content %}
	<div class="text-center">
		<h3>{{ task.customer }} - Telefonos megkeresés</h3>
	</div>
	<br/>

    <div class="row">
		<div class="col-2 mb-3">
			{% include 'p_02_1_ugyfel_altal_megadott_adatok.html' %}
		</div>

		<div class="col-6 mb-3">
			<div class="card">
				<div class="card-header fs-6 badge bg-body-secondary text-wrap text-secondary p-3">
					<div class="row">
						<div class="text-center">
							Ügyfél adatainak aktualizálása
						</div>
					</div>
				</div>
				<div class="card-body">
					<div class="row mb-2">
						<form method="POST">
							{% csrf_token %}
							<div class="accordion accordion-flush" id="accordionFlushExample">
								<div class="accordion-item">
									<h2 class="accordion-header">
										<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
												data-bs-target="#flush-collapse_customer" aria-expanded="false"
												aria-controls="flush-collapse_customer">
											{{ task.customer }}
										</button>
									</h2>
									<div id="flush-collapse_customer" class="accordion-collapse collapse"
										 data-bs-parent="#accordionFlushExample">
										<div class="accordion-body">
											<div class="row mb-3">
												<div class="col-6">
													Vezetéknév: {{ form.surname }}
												</div>
												<div class="col-6">
													Keresztnév: {{ form.name }}
												</div>
											</div>
											<div class="row mb-3">
												<div class="col-6">
													Email: {{ form.email }}
												</div>
												<div class="col-6">
													Telefon: {{ form.phone }}
												</div>
											</div>

										</div>
									</div>
								</div>
								<div class="accordion-item">
									<h2 class="accordion-header">
										<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
												data-bs-target="#flush-collapse_request" aria-expanded="false"
												aria-controls="flush-collapse_request">
											Ügyfél kérése, igénye
										</button>
									</h2>
									<div id="flush-collapse_request" class="accordion-collapse collapse"
										 data-bs-parent="#accordionFlushExample">
										<div class="accordion-body">
											<div class="row mb-3">
												Kérés, igény: {{ form.request }}
											</div>

										</div>
									</div>
								</div>
								<div class="accordion-item">
									<h2 class="accordion-header">
										<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
												data-bs-target="#flush-collapse_address" aria-expanded="false"
												aria-controls="flush-collapse_address">
											Ingatlan
										</button>
									</h2>
									<div id="flush-collapse_address" class="accordion-collapse collapse"
										 data-bs-parent="#accordionFlushExample">
										<div class="accordion-body">
											<div class="row mb-3">
												Cím: {{ form.address }}
											</div>
											<div class="row mb-3">
												Telepítés címe: {{ form.installation_address }}
											</div>
											<div class="row mb-3">
												Felület: {{ form.surface }}
											</div>
										</div>
									</div>
								</div>
								<div class="accordion-item">
									<h2 class="accordion-header">
										<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
												data-bs-target="#flush-collapse_contact" aria-expanded="false"
												aria-controls="flush-collapse_contact">
											Kapcsolattartó
										</button>
									</h2>
									<div id="flush-collapse_contact" class="accordion-collapse collapse"
										 data-bs-parent="#accordionFlushExample">
										<div class="accordion-body">
											Kapcsolattartó adatok
										</div>
									</div>
								</div>
								<div class="accordion-item">
									<h2 class="accordion-header">
										<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
												data-bs-target="#flush-collapse_contractor" aria-expanded="false"
												aria-controls="flush-collapse_contractor">
											Szerződő
										</button>
									</h2>
									<div id="flush-collapse_contractor" class="accordion-collapse collapse"
										 data-bs-parent="#accordionFlushExample">
										<div class="accordion-body">
											Szerződéssal kapcsolatos adatok
										</div>
									</div>
								</div>
							</div>
							<br/>
							<button type="submit" class="btn btn-outline-info btn-sm">Rögzítés</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}