{% extends 'base.html' %}

{% block content %}
	<div class="text-center">
        <h3>{{ project }}</h3>
	</div>
	<br/>

    <div class="row">
		<div class="col-2 mb-3">
			{% include 'p_02_1_elso_megkereses_ugyfel_megadott_adata.html' %}
		</div>

		<div class="col-3 mb-3">
			<div class="card">
				<div class="card-header fs-6 badge bg-body-secondary text-wrap text-secondary p-3">
					<div class="row">
						<div class="text-center">
							Következő lépés:
						</div>
					</div>
				</div>
				<div class="card-body">
					<div class="row mb-3">
						<div class="col">
							<a href="#" class="btn btn-outline-info btn-sm">Telefonos megkeresés</a>
						</div>
					</div>
					<div class="row mb-3">
						<div class="col">
							<a href="{% url 'p_02_1_telefonszam_keres'  task.id %}" class="btn btn-outline-info btn-sm">
								Email kérés elérhető telefonszámért</a>
						</div>
					</div>
					<div class="row mb">
						<div class="col">
							<a href="#" class="btn btn-outline-info btn-sm">Az ügyfél elérhetetlen - adatlap törlés kérelem</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
