{% extends 'base.html' %}

{% block content %}
	<div class="text-center">
		<h1>{{ email_template.title }}</h1>
	</div>
	<br/>

    <div class="row">
		<div class="col-2 mb-3">
			{% include 'p_02_1_elso_megkereses_ugyfel_megadott_adata.html' %}
		</div>

		<div class="col-6 mb-3">
			<div class="card">
				<div class="card-header fs-6 badge bg-body-secondary text-wrap text-secondary p-3">
					<div class="row">
						<div class="text-center">
							A kimenő email szövege:
						</div>
					</div>
				</div>
				<div class="card-body">
					<div class="row mb-2">
						{{ rendered_content | safe }}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}