{% extends 'base.html' %}

{% block content %}
	<div class="text-center">
        <h3>{{ task.customer }} - Előzetes árajánlatok kezelése</h3>
	</div>
	<br/>

    <div class="row">
		<div class="col-3 mb-3">
			{% include 'ugyfel_adatlap.html' %}
		</div>

		<div class="col-7 mb-2">
			<div class="card">
				<div class="card-header fs-6 badge bg-body-secondary text-wrap text-secondary p-3">
					<div class="row text-start">
						<div class="col-2">
							Készült
						</div>
						<div class="col-1">
							ID
						</div>
						<div class="col-3">
							Állapot
						</div>
						<div class="col-6">
							Műveletek
						</div>
					</div>
				</div>
				<div class="card-body">
					<form method="POST">
						{% csrf_token %}
						{% for price_offer in price_offers %}
							<div class="row mb-2">
								<div class="col-2">
									{{ price_offer.created_at | date:"Y.m.d" }}
								</div>
								<div class="col-1">
									{{ price_offer.id }}
								</div>
								<div class="col-3">
									<a href="{{ MEDIA_URL }}{{ task.customer.id }}/{{ price_offer.file_path }}"
									   class="btn btn-outline-primary btn-sm" target="_blank">
										{{ price_offer.get_type_display }}</a>
								</div>
								<div class="col-6">
									<div class="row">
										{% if price_offer.type == '0:' %}
											<div class="col-8">
												<button type="submit" name="action" value="makenew_{{ price_offer.id }}"
														class="btn btn-outline-primary btn-sm me-2">Ebből új előzetes készítés
												</button>
												<button type="submit" name="action" value="update_{{ price_offer.id }}"
														class="btn btn-outline-primary btn-sm me-2">Módosítás
												</button>
												<button type="button" class="btn btn-outline-primary btn-sm"
														data-bs-toggle="modal" data-bs-target="#Modal01">Törlés
												</button>
												<div class="modal fade" id="Modal01" tabindex="-1"
													 aria-labelledby="ModalLabel01" aria-hidden="true">
													<div class="modal-dialog modal-dialog-centered">
														<div class="modal-content">
															<div class="modal-header">
																<h1 class="modal-title fs-5" id="ModalLabel01">
																	Törölhetem az előzetes árajánlatot?</h1>
																<button type="button" class="btn-close"
																		data-bs-dismiss="modal"	aria-label="Close">
																</button>
															</div>
															<div class="modal-body">
																{{ price_offer.created_at | date:"Y.m.d" }} -
																{{ price_offer.get_type_display }} törlés.
															</div>
															<div class="modal-footer">
																<button type="button" class="btn btn-outline-secondary btn-sm"
																		data-bs-dismiss="modal">Mégse
																</button>
																<button type="submit" class="btn btn-outline-danger btn-sm"
																 name="action" value="delete_{{ price_offer.id }}">Törlés
																</button>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="col-4">
												<button type="submit" name="action" value="send_{{ price_offer.id }}"
														class="btn btn-outline-primary btn-sm">Küldés
												</button>
											</div>
										{% endif %}
										{% if price_offer.type == '1:' %}
											<div class="col-8">
												<button type="submit" name="action" value="makenew_{{ price_offer.id }}"
														class="btn btn-outline-primary btn-sm">Ebből új előzetes készítés
												</button>
											</div>
											<div class="col-4">
												<button type="button" class="btn btn-outline-primary btn-sm"
												data-bs-toggle="modal" data-bs-target="#Modal02">Elfogadás
												</button>
												<div class="modal fade" id="Modal02" tabindex="-1"
													 aria-labelledby="ModalLabel02" aria-hidden="true">
													<div class="modal-dialog modal-dialog-centered">
														<div class="modal-content">
															<div class="modal-header">
																<h1 class="modal-title fs-5" id="ModalLabel02">
																	Elfogadta az ügyfél az előzetes árajánlatot?</h1>
																<button type="button" class="btn-close"
																		data-bs-dismiss="modal"	aria-label="Close">
																</button>
															</div>
															<div class="modal-body">
																{{ price_offer.created_at | date:"Y.m.d" }} -
																{{ price_offer.get_type_display }} elfogadás.
															</div>
															<div class="modal-footer">
																<button type="button" class="btn btn-outline-secondary btn-sm"
																		data-bs-dismiss="modal">Mégse
																</button>
																<button type="submit" class="btn btn-outline-danger btn-sm"
																 name="action" value="accept_{{ price_offer.id }}">Elfogadás
																</button>
															</div>
														</div>
													</div>
												</div>
											</div>
										{% endif %}
									</div>
								</div>
							</div>
						{% endfor %}
						<hr>
						<div class="row mb-2">
							<div class="col">
								<button type="submit" class="btn btn-outline-primary btn-sm"
								 name="action" value="new_0">Új előzetes árajánlat készítése
								</button>
							</div>
						</div>
					</form>
					{% include 'pager_bottom.html' %}
				</div>
			</div>
		</div>
    </div>
{% endblock %}>