{% extends 'base.html' %}

{% block content %}
	<div class="text-center">
        <h3>{{ price_offer.customer }} - {{ price_offer.created_at | date:"Y.m.d" }} -
			{{ price_offer.id }}. számú előzetes árajánlat</h3>
	</div>
	<br/>
    <div class="row justify-content-center">
		<div class="col-8 mb-2">
			<div class="card">
				<div class="card-header fs-6 badge bg-body-secondary text-wrap text-secondary p-3">
					<div class="row mb-1 text-start">
						<div class="col-4">
							Termék neve
						</div>
						<div class="col-1 text-end">
							Menny.
						</div>
						<div class="col-1 text-start">
							Egység
						</div>
						<div class="col-2 text-end">
							Egységár
						</div>
						<div class="col-2 text-end">
							Összeg
						</div>
					</div>
					<div class="row text-start">
						<div class="col-1">
						</div>
						<div class="col-4">
							Termék megjegyzés
						</div>
						<div class="col-2">
						</div>
						<div class="col-1 text-end">
							({{ price_offer.currency }})
						</div>
						<div class="col-2 text-end">
							({{ price_offer.currency }})
						</div>
						<div class="col-2 text-end">
							Tétel törlés
						</div>
					</div>
				</div>
				<div class="card-body">
					<form method="POST">
						{% csrf_token %}
						{% for price_offer_item in price_offer_items %}
							<div class="row mb-2">
								<div class="col-4">
									<button type="submit" name="item_action" value="product_{{ price_offer_item.id }}"
											class="btn btn-outline-primary btn-sm">{{ price_offer_item }}
									</button>
								</div>
								<div class="col-1 text-end">
									<button type="submit" name="item_action" value="amount_{{ price_offer_item.id }}"
											class="btn btn-outline-primary btn-sm">{{ price_offer_item.amount }}
									</button>
								</div>
								<div class="col-1 text-start">
									{{ price_offer_item.product.get_unit_display }}
								</div>
								<div class="col-2 text-end">
									<button type="submit" name="item_action" value="price_{{ price_offer_item.id }}"
											class="btn btn-outline-primary btn-sm">{{ price_offer_item.price }}
									</button>
								</div>
								{% if price_offer_item.value <= 0 %}
									<div class="col-2 text-danger text-end">
								{% else %}
									<div class="col-2 text-end">
								{% endif %}
									{{ price_offer_item.value | floatformat:2 }}
									</div>
								<div class="col-2 text-end">
									<button type="button" class="btn btn-outline-primary btn-sm"
											data-bs-toggle="modal" data-bs-target="#Modal{{ price_offer_item.id }}">Törlés
									</button>
									<div class="modal fade" id="Modal{{ price_offer_item.id }}" tabindex="-1"
										 aria-labelledby="ModalLabel{{ price_offer_item.id }}" aria-hidden="true">
										<div class="modal-dialog modal-dialog-centered">
											<div class="modal-content">
												<div class="modal-header">
													<h1 class="modal-title fs-5" id="ModalLabel{{ price_offer_item.id }}">
														Törölhetem a terméket?</h1>
													<button type="button" class="btn-close"
															data-bs-dismiss="modal"	aria-label="Close">
													</button>
												</div>
												<div class="modal-body text-start">
													{{ price_offer_item }} - termék törlés
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-outline-secondary btn-sm"
															data-bs-dismiss="modal">Mégse
													</button>
													<button type="submit" class="btn btn-outline-danger btn-sm"
													 name="item_action" value="delete_{{ price_offer_item.id }}">Törlés
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row mb-2">
								<div class="col-1">
								</div>
								<div class="col-3">
									{{ price_offer_item.product.comment }}
								</div>
							</div>
							<div class="row">
								<hr>
							</div>
						{% endfor %}
						<div class="row mb-2">
							<div class="h6 col-4">
								Napelem teljesítmény: {{ total_power | floatformat:3 }} kW
							</div>
							<div class="col-4">
							</div>
							<div class="h6 col-2 text-end">
								{{ price_offer_sum_value | floatformat:2 }}
							</div>
						</div>
						<div class="row">
							<div class="col">
								<button type="submit" name="item_action" value="new_0"
										class="btn btn-outline-primary btn-sm me-2">Új tétel
								</button>
								<button type="submit" name="item_action" value="comment_0"
										class="btn btn-outline-primary btn-sm me-2">Árajánlat megjegyzés
								</button>
								{% if price_offer.currency == 'HUF' %}
									<button type="submit" name="item_action" value="changemoneyHUF-EUR_0"
											class="btn btn-outline-primary btn-sm me-2">Valuta váltás HUF->EUR
									</button>
									<button type="submit" name="item_action" value="changemoneyHUF-USD_0"
											class="btn btn-outline-primary btn-sm me-2">Valuta váltás HUF->USD
									</button>
								{% elif price_offer.currency == 'EUR' %}
									<button type="submit" name="item_action" value="changemoneyEUR-HUF_0"
											class="btn btn-outline-primary btn-sm me-2">Valuta váltás EUR->HUF
									</button>
								{% elif price_offer.currency == 'USD' %}
									<button type="submit" name="item_action" value="changemoneyUSD-HUF_0"
											class="btn btn-outline-primary btn-sm me-2">Valuta váltás USD->HUF
									</button>
								{% endif %}
								<a href="{{ MEDIA_URL }}{{ price_offer.customer.id }}/{{ price_offer.file_path }}"
								   class="btn btn-outline-primary btn-sm me-2" target="_blank">
									PDF file megtekintése</a>
								<button type="submit" name="item_action" value="makepdf_0"
										class="btn btn-outline-primary btn-sm me-2">PDF file aktualizálása
								</button>
								<button type="submit" name="item_action" value="back_0"
										class="btn btn-outline-primary btn-sm">Vissza az árajánlatokhoz
								</button>
							</div>
						</div>
					</form>
					<br/>
					{% include 'pager_bottom.html' %}
				</div>
			</div>
		</div>
	</div>
    <br/>
{% endblock %}>