{% extends 'base.html' %}

{% block content %}
    <div class="text-center">
        <h3>Termék egységár megadása</h3>
    </div>
    <br/>
    <form method="post">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-4 mb-3">
                <div class="card">
                    <div class="card-header fs-6 badge bg-body-secondary text-wrap text-secondary p-3">
                        <div class="row">
                            <div class="text-center">
                                A tétel termék: {{ price_offer_item }}
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col-4">
                                    {{ form.price.label_tag }}
                                    {{ form.price }}
                            </div>
                        </div>
                        <br/>
                        <div>
                            <button type="submit" class="btn btn-outline-info btn-sm">Rögzítés</button>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
        </div>
    </form>
{% endblock %}>
