{% extends 'base.html' %}

{% block content %}
    <form method="post">
        <div class="text-center">
            <h3>Termék csoportok karbantatása</h3>
        </div>
        <br/>
        <div class="row justify-content-center">
            <div class="col-6 mb-3">
                <div class="card">
                    <div class="card-header fs-6 badge bg-body-secondary text-wrap text-secondary p-3">
                        <div class="row">
                            <div class="text-center">
                                Termék csoport név módosítása
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row mb-2">
                            {% csrf_token %}
                            {{ form }}
                        </div>
                        <br/>
                        <div>
                            <button type="submit" class="btn btn-outline-info btn-sm">Rögzítés</button>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
        </div>
    </form>
{% endblock %}>
