<!--Oldal lapozás-->
<div class="p-1 flex-fill">
	<nav aria-label="Page navigation example">
		<ul class="pagination justify-content-center flex-wrap mb-4">
			{% if projects_tasks.has_previous %}
				<li class="page-item">
					<a class="page-link" href="?page={{ projects_tasks.previous_page_number }}">&laquo;</a>
				</li>
			{% else %}
				<li class="disabled page-item"><span class="page-link">&laquo;</span></li>
			{% endif %}
			{% for i in page_range|default_if_none:projects_tasks.paginator.get_elided_page_range %}
				{% if projects_tasks.number == i %}
					<li class="active page-item"><span class="page-link">{{ i }}</span></li>
				{% else %}
					{% if i == projects_tasks.paginator.ELLIPSIS %}
						<li class="page-item"><span class="page-link">{{ i }}</span></li>
					{% else %}
						<li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
					{% endif %}
				{% endif %}
			{% endfor %}
			{% if projects_tasks.has_next %}
				<li class="page-item">
					<a class="page-link" href="?page={{ projects_tasks.next_page_number }}">&raquo;</a>
				</li>
			{% else %}
				<li class="disabled page-item"><span class="page-link">&raquo;</span></li>
			{% endif %}
		</ul>
	</nav>
</div>
