{% extends 'base.html' %}

{% load humanize %}

{% block content %}
    <center>
        <h1>{{ position }} - összes esemény / feladat</h1>
    </center>
	<br/>

	<div class="card mb-3">
		<div class="card-header fs-6 badge bg-body-secondary text-wrap text-secondary p-3">
			<div class="row">
				<div class="col-2 text-start">
					Projekt
				</div>
				<div class="col-1 text-start">
					E. / F.
				</div>
				<div class="col-6 text-start">
					Szöveg
				</div>
				<div class="col-1 text-start">
					Létrehozó
				</div>
				<div class="col-2 text-end">
					Létrehozás ideje
				</div>
			</div>
		</div>
		{% for task in tasks %}
    		<div class="card-body">
				<div class="card-text">
					<div>
						<div class="row">
							<div class="col-2">
								{{ task.project }}
							</div>
							<div class="col-1">
								{{ task.get_type_display }}
							</div>
							{% if task.type == '2:' %}
								<div class="col-6 text-success-emphasis bg-success-subtle border
								 border-success-subtle rounded-2">
							{% else %}
								<div class="col-6">
							{% endif %}
								{{ task.comment }}
								</div>
							<div class="col-1">
								{{ task.created_user }}
							</div>
							<div class="col-2 text-end">
								{{ task.created_at }}
							</div>
						</div>
					</div>
<!--					<div class="card-footer text-body-secondary">-->
<!--						Lábléc-->
<!--					</div>-->
				</div>
			</div>
		{% endfor %}
	</div>
	<br/>
	{% include 'tasks_pager_bottom.html' %}
{% endblock %}
