{% extends 'base.html' %}

{% block content %}
    <center>
        <h1>{{ position }}</h1>
    </center>
	<br/>

	<div class="card mb-3">
		<div class="card-header fs-6 badge bg-body-secondary text-wrap text-secondary p-3">
			<div class="row">
				<div class="col-2 text-start">
					Projekt
				</div>
				<div class="col-7 text-start">
					<span class="{{ type_color.0.1 }}">{{ type_choices.0.1 }}</span> /
					<span class="{{ type_color.1.1 }}">{{ type_choices.1.1 }}</span> /
					<span class="{{ type_color.2.1 }}">{{ type_choices.2.1 }}</span> /
					<span class="{{ type_color.3.1 }}">{{ type_choices.3.1 }}</span> /
					<span class="{{ type_color.4.1 }}">{{ type_choices.4.1 }}</span>
				</div>
				<div class="col-1 text-start">
					Létrehozó
				</div>
				<div class="col-1 text-start">
					Kezdet
				</div>
				<div class="col-1 text-start">
					Kész
				</div>
			</div>
		</div>

		{% for task in tasks %}
    		<div class="card-body">
				<div class="card-text">
					<div>
						<div class="row">
							<div class="col-2">
								{% if task.type == '2:' %}
									<a href="#"
									   class="btn btn-outline-danger">{{ task.project }}</a>
								{% elif task.type == '3:' %}
									<a href="#"
									   class="btn btn-outline-warning">{{ task.project }}</a>
								{% else %}
									{{ task.project }}
								{% endif %}
							</div>
							{% if task.type == '0:' %}
								<div class="col-7 {{ type_color.0.1 }}" style="text-align: justify">
							{% elif task.type == '1:' %}
								<div class="col-7 {{ type_color.1.1 }}" style="text-align: justify">
							{% elif task.type == '2:' %}
								<div class="col-7 {{ type_color.2.1 }}" style="text-align: justify">
							{% elif task.type == '3:' %}
								<div class="col-7 {{ type_color.3.1 }}" style="text-align: justify">
							{% elif task.type == '4:' %}
								<div class="col-7 {{ type_color.4.1 }}" style="text-align: justify">
							{% else %}
								<div class="col-7" style="text-align: justify">
							{% endif %}
								{{ task.comment|linebreaksbr }}
								</div>
							<div class="col-1">
								{{ task.created_user }}
							</div>
							<div class="col-1">
								{{ task.created_at|date:"Y-m-d" }}
							</div>
							<div class="col-1">
								{{ task.completed_at|date:"Y-m-d" }}
							</div>
						</div>
					</div>
<!--					<div class="card-footer text-body-secondary">-->
<!--						Lábléc-->
<!--					</div>-->
				</div>
			</div>
		{% endfor %}
	</div>
	<br/>
	{% include 'tasks_pager_bottom.html' %}
{% endblock %}
