<div class="card mb-3">
    <div class="card-header badge bg-body-secondary text-wrap text-secondary p-3">
        <div class="row">
            <div class="col-2 text-center">
                Összes projekt
            </div>
            <div class="col-9 text-center">
                {{ task.customer }} - ügyfél történet
            </div>
        </div>
    </div>

    {% for t in tasks %}
        <div class="card-body">
            <div class="card-text">
                <div>
                    <div class="row">
                        <div class="col-2 text-center">
                            {{ t.project }}
                        </div>
                        {% if t.type == '0:' %}
                            <div class="col-9 {{ type_color.0.1 }}" style="text-align: justify">
                        {% elif t.type == '1:' %}
                            <div class="col-9 {{ type_color.1.1 }}" style="text-align: justify">
                        {% elif t.type == '2:' %}
                            <div class="col-9 {{ type_color.2.1 }}" style="text-align: justify">
                        {% elif t.type == '3:' %}
                            <div class="col-9 {{ type_color.3.1 }}" style="text-align: justify">
                        {% elif t.type == '4:' %}
                            <div class="col-9 {{ type_color.4.1 }}" style="text-align: justify">
                        {% elif t.type == '5:' %}
                            <div class="col-9 {{ type_color.5.1 }}" style="text-align: justify">
                        {% else %}
                            <div class="col-9" style="text-align: justify">
                        {% endif %}
                            {{ t.comment|linebreaksbr }}
                            </div>
                        <div class="col-1" style="font-size: 10px;">
                            {{ t.created_user }}
                            <div>
                                {{ t.created_at|date:"Y-m-d" }}
                            </div>
                            <div>
                                {% if t.type == '2:' %}
                                    {{ t.days_passed }}
                                {% elif t.type == '3:' %}
                                    {{ t.days_passed }}
                                {% else %}
                                    {{ t.completed_at|date:"Y-m-d" }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
<!--					<div class="card-footer text-body-secondary">-->
<!--						Lábléc-->
<!--					</div>-->
            </div>
        </div>
    {% endfor %}
    <br/>
    {% include 'pager_bottom.html' %}
</div>
<br/>
