<div class="card mb-3">
    <div class="card-header badge bg-body-secondary text-wrap text-secondary p-3">
        <div class="row">
            <div class="col-1 text-center">
                Összes projekt
            </div>
            <div class="col-1 text-start">
                Feladat
            </div>
            <div class="col-7 text-center">
                {{ task.customer_project.customer }} - ügyfél történet
            </div>
            <div class="col-1 text-start">
                Finanszírozás
            </div>
            <div class="col-1 text-start">
                Határidő
            </div>
        </div>
    </div>

    {% for task in tasks %}
        <div class="card-body">
            <div class="card-text">
                <div>
                    <div class="row">
                        <div class="col-1 text-center">
                            {{ task.project }}
                        </div>
                        <div class="col-1">
                            {{ task.customer_project }}
                        </div>
                        {% if task.type == '0:' %}
                            <div class="col-7 {{ type_color.0.1 }}" style="text-align: justify">
                        {% elif task.type == '1:' %}
                            <div class="col-7 {{ type_color.1.1 }}" style="text-align: justify">
                        {% elif task.type == '2:' %}
                            <div class="col-7 {{ type_color.2.1 }}" style="text-align: justify">
                        {% elif task.type == '3:' %}
                            <div class="col-7 {{ type_color.3.1 }}" style="text-align: justify">
                        {% elif task.type == '4:' %}
                            <div class="col-7 {{ type_color.4.1 }}" style="text-align: justify">
                        {% elif task.type == '5:' %}
                            <div class="col-7 {{ type_color.5.1 }}" style="text-align: justify">
                        {% else %}
                            <div class="col-8" style="text-align: justify">
                        {% endif %}
                            {{ task.comment|linebreaksbr }}
                            </div>
                        <div class="col-1">
                            {{ task.customer_project.financing }}
                        </div>
                        <div class="col-1">
                            {{ task.deadline|date:"Y-m-d" }}
                        </div>
                        <div class="col-1" style="font-size: 10px;">
                            {{ task.created_user }}
                            <div>
                                {{ task.created_at|date:"Y-m-d" }}
                            </div>
                            <div>
                                {% if task.type == '2:' %}
                                    {{ task.days_passed }}
                                {% elif task.type == '3:' %}
                                    {{ task.days_passed }}
                                {% else %}
                                    {{ task.completed_at|date:"Y-m-d" }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
<!--					<div class="card-footer text-body-secondary">-->
<!--						Lábléc-->
<!--					</div>-->
            </div>
        </div>
    {% endfor %}
    <br/>
    {% include 'pager_bottom.html' %}
</div>
<br/>
