{% extends 'base.html' %}

{% block content %}
	<div class="text-center">
        <h3>{{ task.customer_project.customer }} - {{ task.customer_project.installation_address }} -
            {{ task.customer_project.target.name }} - felmérései</h3>
	</div>
	<br/>

    <div class="row">
		<div class="col-3 mb-3">
            <div class="row mb-3">
                <div class="col mb-3">
                    {% include 'ugyfel_adatlap.html' %}
                </div>
		    </div>
		</div>
        <div class="col-5 mb-3">
			<div class="card">
				<div class="card-header fs-6 badge bg-body-secondary text-wrap text-secondary p-3">
					<div class="row mb-1 text-start">
						<div class="col-2">
							Időpont
						</div>
						<div class="col-3">
							Felmérő
						</div>
						<div class="col-2">
							Állapot
						</div>
						<div class="col-5">
							Műveletek
						</div>
					</div>
				</div>
                <div class="card-body">
					<form method="POST">
						{% csrf_token %}
                        {% for specify in specifys %}
                            <div class="row mb-2">
                                <div class="col-2">
                                    {% if specify.specify_date %}
                                        {{ specify.specify_date | date:"Y.m.d H:i" }}
                                    {% else %}
                                        ?
                                    {% endif %}
                                </div>
                                <div class="col-3">
                                    {% if specify.specifyer %}
                                        {{ specify.specifyer }}
                                    {% else %}
                                        ?
                                    {% endif %}
                                </div>
                                <div class="col-2">
                                    {{ specify.get_status_display }}
                                </div>
                                <div class="col-5">
                                    {% if specify.status == '1:' or specify.status == '2:' %}
                                        <button type="submit" name="action" value="searc_{{ specify.id }}"
                                                class="btn btn-outline-primary btn-sm me-2">Időpont keresés
                                        </button>
                                    {% endif %}
                                    {% if specify.status == '3:' or specify.status == '4:' or specify.status == '5:'%}
                                        <button type="submit" name="action" value="searc_{{ specify.id }}"
                                                class="btn btn-outline-primary btn-sm me-2">Megtekintés
                                        </button>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                        <div class="row mb-2">
                            <div class="col">
                                <button type="submit" name="action" value="new_0"
                                        class="btn btn-outline-primary btn-sm">Új felmérés
                                </button>
                            </div>
                        </div>
					</form>
                    <br/>
					{% include 'pager_bottom.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
