{% extends 'base.html' %}

{% block content %}
	<div class="text-center">
        <h3>{{ task.customer_project.customer }} - {{ task.customer_project.installation_address }} -
            {{ task.customer_project.target.name }} - felmérési képek típusai</h3>
	</div>
	<br/>

        <div class="row">
            <div class="col-3 mb-3">
                <div class="row mb-3">
                    <div class="col mb-3">
                        {% include 'ugyfel_adatlap.html' %}
                    </div>
                </div>
		    </div>
            <div class="col-2 mb-3">
                <div class="card">
                    <div class="card-header fs-6 badge bg-body-secondary text-wrap text-secondary p-3">
                        <div class="row mb-1">
                            <div class="col text-center">
                                Kép típus
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form_type.as_p }}
                            <button type="submit" class="btn btn-outline-primary btn-sm mb-3">Mentés</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-7 mb-3">
                <div class="card">
                    <div class="card-header fs-6 badge bg-body-secondary text-wrap text-secondary p-3">
                        <div class="row mb-1">
                            <div class="col text-center">
                                {{ specify_photo }}
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <img src="{{ specify_photo.photo.url }}" class="d-block w-100" alt="{{ specify_photo.specify }">
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}
