{% extends 'base.html' %}

{% block content %}
	<div class="text-center">
        <h3>{{ task.customer_project.customer }} - {{ task.customer_project.installation_address }} -
            {{ task.customer_project.target.name }} - felmérési képek feltöltése</h3>
	</div>
	<br/>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-3 mb-3">
                <div class="row mb-3">
                    <div class="col mb-3">
                        {% include 'ugyfel_adatlap.html' %}

                    </div>
                </div>
		    </div>
            <div class="col-2 mb-3">
                <div class="card">
                    <div class="card-header fs-6 badge bg-body-secondary text-wrap text-secondary p-3">
                        <div class="row mb-1">
                            <div class="col text-center">
                                Felmérés dőpontja
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        {% for specify in specifys %}
                            <div class="row mb-2">
                                <div class="col">
                                    <button type="submit" name="action" value="date_{{ specify.id }}"
                                            class="btn btn-outline-primary btn-sm me-2">
                                        {{ specify.specify_date | date:"Y.m.d H:i" }}
                                    </button>
                                </div>
                            </div>
                        {% endfor %}
                        <br/>
                        {% include 'pager_bottom.html' %}
                    </div>
                </div>
            </div>
            <div class="col-4 mb-3">
                <div class="card">
                    <div class="card-header fs-6 badge bg-body-secondary text-wrap text-secondary p-3">
                        <div class="row">
                            <div class="text-center">
                                Feltöltés
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        {% if current_specify %}
                            {{ current_specify.specify_date | date:"Y.m.d H:i" }} -
                            {{ current_specify.specifier }} felmérése<br><br>
                            {{ form }}
                            <br/>
                            <button type="submit" name="action" value="upload_{{ current_specify.id }}"
                                    class="btn btn-outline-primary btn-sm me-2">
                                Feltöltés
                            </button>
                        {% else %}
                            Válassz felmérési időpontot!
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock content %}
