{% extends 'base.html' %}

{% block content %}
	<div class="text-center">
        <h3>{{ task.customer_project.customer }} - Az ügyfél visszaléptetése 05.1. Felmérések felelőséhez</h3>
	</div>
	<br/>

    <div class="row">
		<div class="col-3 mb-3">
			{% include 'ugyfel_adatlap.html' %}
		</div>

		<div class="col-7 mb-3">
			<div class="card">
				<div class="card-header fs-6 badge bg-body-secondary text-wrap text-secondary p-3">
					<div class="row">
						<div class="text-center">
							Visszaléptetés indoklása
						</div>
					</div>
				</div>
				<div class="card-body">
					<div class="row mb-2">
						<form method="POST">
							{% csrf_token %}
							{{ form }}
							<br/>
							<button type="button" class="btn btn-outline-info btn-sm" data-bs-toggle="modal"
									data-bs-target="#exampleModal">Rögzítés</button>
							<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
								 aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered">
									<div class="modal-content">
										<div class="modal-header">
											<h1 class="modal-title fs-5" id="exampleModalLabel">
												Mehet az ügyfél visszaléptetése 05.1. Felmérések felelőséhez?</h1>
											<button type="button" class="btn-close" data-bs-dismiss="modal"
													aria-label="Close"></button>
										</div>
										<div class="modal-body">
											{{ task.customer_project.customer }} - A felmérés nem végezhető el.
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-outline-secondary btn-sm"
													data-bs-dismiss="modal">Mégse</button>
											<button type="submit" class="btn btn-outline-danger btn-sm">Visszaléptetés</button>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
    </div>
{% endblock %}>