{% extends 'base.html' %}

{% block content %}
	<div class="text-center">
        <h3>{{ task.customer_project.customer }} - {{ task.customer_project.installation_address }} - térképre illesztése</h3>
	</div>
	<br/>

    <div class="row">
		<div class="col-3 mb-3">
			{% include 'ugyfel_adatlap.html' %}
            <br/>
		</div>
		<div class="col-9 mb-3">
            <div id="map" style="height: 800px; width: 100%;"></div>
            <button onclick="goBack()" class="btn btn-primary mt-3">Vissza</button>
        </div>
    </div>
{% endblock content %}

{% block extra_js %}
<script>
    // Inicializáljuk a térképet
    var map = L.map('map').setView([47.2, 19.4], 8);

    // Hozzáadjuk a térképi csempét
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
    }).addTo(map);

    // Marker hozzáadása
    var lat = "{{ task.customer_project.latitude | linebreaksbr }}".replace(",", ".");
    var lng = "{{ task.customer_project.longitude | linebreaksbr }}".replace(",", ".");
    var marker = L.marker([lat, lng])
        .bindPopup("{{ task.customer_project.customer }} - {{ task.customer_project.target }}")
        .bindTooltip("{{ task.customer_project.customer }} - {{ task.customer_project.target }}")
        .addTo(map);

    // Kattintási esemény kezelése
    map.on('click', function(e) {
        var lat = e.latlng.lat;
        var lng = e.latlng.lng;

        // AJAX kérés küldése a koordinátákkal
        $.ajax({
            url: '{% url "p_05_1_process_coordinates" task.customer_project.id %}',
            type: 'POST',
            data: {
                'lat': lat,
                'lng': lng,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(response) {
                alert("Koordináták felvéve: " + response.latitude + ", " + response.longitude);
            },
            error: function(xhr, status, error) {
                alert("Error sending coordinates: " + error);
            }
        });

        // Frissítjük a markert az új koordinátákra
        marker.setLatLng(e.latlng);
    });

    // Visszalépés funkció
    function goBack() {
        window.history.back();
    }
</script>
{% endblock extra_js %}